.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.cart-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 20rem; /* 추가한 게 너무 많아서 잘림 방지 */
  overflow: scroll; /* 대신 길어지면 스크롤 가능하게 */
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  border: 1px solid #8a2b06;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  cursor: pointer;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}